{% extends "base.html" %}

{% block lcrContent %}

<p class="stTit">Add Carrier / Switch Supplier</p>

<p class="stText">You're adding a switch supplier account for: <b>{{ carrier }}</b>.</p>

<p class="stText"><b><u>!!! ACHTUNG !!!</u></b> Make sure you do know what you're doing! Changes made here are propagated to the switches in the next synchro session. Wrong configuration might interfere with existing traffic! Use only alphanumericals for switch name, it should be 3-5 chars long, begin with a letter and <b><u>UNIQUE!</u></b></p>

<form action="/add_carrier_supplier/{{ carrier.id }}/" method="POST">
<table>
{{ sform.as_table}}
</table>
<input type="submit" value="- - - Yes, I've read the warning message above and I want to submit the form - - -" />
</form>

{% endblock %}
