{% extends "base.html" %}

{% block lcrContent %}

<p class="stTit">{{ p.name }} - Contact Information</p>

	<p class="stText">You can use the following information to reach us:</p>

	<p class="stText"><b>Your Company Name</b><br />
123 Street Address<br />
Country<br />
Company Number 999999</p>

	<p class="stText"><b>Telephone Number:</b></p>
	<p class="stText">+44 123 123 123 </p>

	<p class="stText"><b>E-mail Addresses:</b></p>
	<p class="stText"><a href="mailto:mail@your-company.com">mail@your-company.com</a><br />
	<a href="mailto:mail@your-company.com">mail@your-company.com</a></p>

	<p class="stText">We very much look forward to hearing from you!</p>

{% endblock %}
