{% extends "base.html" %}

{% block lcrContent %}

<p class="stTit">Welcome to {{ p.name }} - VoIP Carrier Services Site</p>

<p class="stText">Text about your company</p

	<p class="stTit">Let's get started!</p>
	
	<p class="stText">If you want to interconnect with our VoIP network, you're going to need a <b>Carrier ID</b>. This is a unique identificator you can then use to get in touch with our Escalation Team, sort out billing, invoicing, etc. To get your <b>Carrier ID</b>, please folllow to the <a href="/carrier/register/">Carrier Registration</a> Form.</p>

	<p class="stText">If you already have a <b>Carrier ID</b>, you can reach our Support directly using <a href="/carrier/escalation/">Escalation</a> form. It only takes a few seconds to fill it in, and we'll come back to you ASAP!</p>

	<p class="stText">In any situation, you can always <a href="/carrier/contact/">Contact Us</a> directly, and we'll gladly assist you in your VoIP business!</p>


{% endblock %}
